<!-- Category Grid - Grid Buttons Component -->
<section class="padding-bot-5">
    <div class="container">
        <h1 class="title is-5 is-primary">Browse Catalog</h1>
        <div class="grid-buttons">

        <button onclick="openSearchCategory('Datasets')" class="grid-button is-primary">
            <label>9,485</label>
            <i class="fa fa-database"></i>
            <h4>Datasets</h4>
        </button>

        <button onclick="openSearchCategory('Deployments')" class="grid-button is-primary">
            <label>2,921</label>
            <i class="fa fa-ship"></i>
            <h4>Deployments</h4>
        </button>


        <button class="grid-button is-primary" onclick="openSearchCategory('Projects')">
            <label>1,110</label>
            <i class="fa fa-folder-open"></i>
            <h4>Projects</h4>
        </button>

        <button class="grid-button is-primary" onclick="openSearchCategory('Programs')">
            <label>44</label>
            <i class="fa fa-clipboard"></i>
            <h4>Programs</h4>
        </button>
        
        <button class="grid-button is-primary" onclick="openSearchCategory('Instruments')">
            <label>490</label>
            <i class="fa fa-cogs"></i>
            <h4>Instruments</h4>
        </button>

        <button class="grid-button is-primary" onclick="openSearchCategory('People')">
            <label>2,781</label>
            <i class="fa fa-users"></i>
            <h4>People</h4>
        </button>


        <button class="grid-button is-primary" onclick="openSearchCategory('Parameters')">
            <label>1,420</label>
            <i class="fa fa-sliders"></i>
            <h4>Parameters</h4>
        </button>

        <button class="grid-button is-primary" onclick="openSearchCategory('Awards')">
            <label>2,087</label>
            <i class="fa fa fa-thermometer-2"></i>
            <h4>Awards</h4>
        </button>
    </div>
</section>