<!-- 3 wide grid to showcase resources -->
  <section class="padded-section margin-top-3">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <!-- Showcase Component -->
          <div class="showcase">
            <div class="showcase-icon">
              <div class="icon"><i class="fa fa-question-circle"></i></div>
            </div>
            <h4 class="title is-4">How do I access Data?</h4>
            <p>A tutorial showing how to effectively access BCO-DMO data. Available online and for download.</p>
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
        <div class="column has-text-centered">
          <!-- Showcase Component -->
          <div class="showcase">
            <div class="showcase-icon">
              <div class="icon"><i class="fa fa-tasks"></i></div>
            </div>
            <h4 class="title is-4">Data Mgmt Best Practices</h4>
            <p>A tutorial showing how to effectively access BCO-DMO data. Available online and for download.</p>
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
        <div class="column has-text-centered">
          <!-- Showcase Component -->
          <div class="showcase">
            <div class="showcase-icon">
              <div class="icon"><i class="fa fa-file-text"></i></div>
            </div>
            <h4 class="title is-4">NSF OCE Sample and Data Policy</h4>
            <p>A tutorial showing how to effectively access BCO-DMO data. Available online and for download.</p>
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>