<!-- Simple Accordion used in FAQ -->

<section class="accordion margin-bot-5 margin-top-3">

<!-- About BCO-DMO Accordion Section -->
<section class="accordion-section" id="about">
    <div class="accordion-title">
        <a href="#about">About BCO-DMO <i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="accordion-body">
        <div class="content">
            <h4 class="title is-4">What is BCO-DMO?</h4>
            <p>BCO-DMO is the Biological and Chemical Oceanography Data Management Office. We help oceanography researchers who are funded by the National Science Foundation’s (NSF's) Division of Ocean Sciences' (OCE) Biological or Chemical Oceanography Sections or the Division of Polar Programs' Antarctic Organisms & Ecosystems Program manage their data, making them accessible over the internet.</p>

            <h4 class="title is-4">Who funds BCO-DMO?</h4>
            <p>BCO-DMO is primarily funded by an NSF grant (<strong>OCE-1031253</strong>).</p>

            <h4 class="title is-4">Who are the people in BCO-DMO?</h4>
            <p>BCO-DMO is made up of people with a very strong interest in making your data useful to you and to others. We have decades of experience (some of us are older than we look) managing data from many domains including biological, geochemical, geological, and physical oceanography.</p>

            <h4 class="title is-4">How do I contact BCO-DMO?</h4>
            <p>The best way to contact BCO-DMO is to send an email to:</p>
            <p><a class="button icon-after" href="mailto:info@bco-dmo.org">info@bco-dmo.org <i class="fa fa-envelope"></i></a></p>

            <h4 class="title is-4">How do you pronounce BCO-DMO?</h4>
            <p><i>Bee Co Dee Mo</i></p>
        </div>
    </div>
</section>

<!-- Access Data Accordion Section  -->
<section class="accordion-section" id="access">
    <div class="accordion-title"><a href="#access">Access Data <i class="fa fa-chevron-down"></i></a></div>
    <div class="accordion-body">
        <div class="content">
            <h4 class="title is-4">How do I get started?</h4>
            <p>Once you have your NSF award number is a good time to get started by contacting us. Our How to Get Started page provides details, but the first step is just to let us know via email that you want BCO-DMO to work with you. There are resources at BCO-DMO that can help you even as you prepare your proposal: please see information about NSF's data management plan and help in planning your data collection effort.</p>

            <p><a class="button icon-after">Quick Start Guide <i class="fa fa-file-pdf-o color-red"></i></a></p>

            <h4 class="title is-4">What formats are available for downloading data from BCO-DMO?</h4>
            <p>Data can be downloaded from BCO-DMO as tab-, comma-, and space-separated ASCII files, Matlab binary files, netCDF format (if the data are amenable to this format), and ODV format (if the data are amenable to this format). Data can also be accessed using Open Geospatial Consortium’s (OGC) Web Mapping Service (WMS) and Web Feature Service (WFS) through our <a href="http://mapservice.bco-dmo.org/mapserver/maps-ol/index.php" target="_blank">MapServer interface <i class="fa fa-external-link"></i></a>.</p>
            <p> For more information on finding and downloading data using the BCO-DMO data system, please refer to:</p>
            <p><a class="button icon-after">Data Access Tutorial <i class="fa fa-file-pdf-o color-red"></i></a></p>
            
            <h4 class="title is-4">How can the data that BCO-DMO manages be accessed?</h4>
            <p>Any standard web browser including Firefox, Chrome, Safari, as well as Internet Explorer can access data managed by BCO-DMO. We provide both text based and geospatial access. 
            <p>For more information on finding and downloading data using the BCO-DMO data system:</p>
            <p>
                <a class="button icon-after">Data Access Tutorial <i class="fa fa-file-pdf-o color-red"></i></a>
                <a href="https://www.youtube.com/watch?v=FhSj_mSxY_k&feature=youtu.be" target="_blank" class="button icon-after">
                    BCO-DMO Data Access Demo <i class="fa fa-youtube-play color-red"></i>
                </a>
            </p>
            
            <h4 class="title is-4">How can I cite datasets accessible via BCO-DMO in the literature?</h4>
            <p><a class="button">Citation Recommendations and Usage Guidelines</a></p>

            <h4 class="title is-4">Where does BCO-DMO archive the data?</h4>
            <p>Most of the data BCO-DMO manages is archived at <a href="https://www.ncei.noaa.gov/" target="_blank">NCEI</a>.</p>
        </div>
    </div>
</section>

<section class="accordion-section" id="submit">
    <div class="accordion-title"><a href="#submit">Submit Data <i class="fa fa-chevron-down"></i></a></div>
    <div class="accordion-body">
        <div class="content">
            <h4 class="title is-4">When should I contact BCO-DMO?</h4>
            <p>You can wait until you receive your NSF award and know your award number before you contact us. We can collect much of the preliminary metadata about your project directly from NSF.</p>
            <h4 class="title is-4">What types of data can BCO-DMO manage?</h4>
            <p>BCO-DMO can deal with a wide variety of data, including but not limited to biological, chemical and physical oceanography measurements and experimental and model results. We routinely deal with CTD, biological abundance, meteorological, nutrient, pH, carbonate, PAR, sea surface temperature, heat and momentum flux, sediment composition, trace metals, primary production, and pigment concentration measurements, and with images and movies. While sequence data should be sent to GenBank, sequence accession numbers and the associated environmental data can be contributed to BCO-DMO and we can provide the links to the sequence repository. This ensures that the data are discoverable from BCO-DMO's website. Please see "Contributing Sequence Accession Numbers" for more information.</p>
            <h4 class="title is-4">What data formats can BCO-DMO accept?</h4>
            <p>Usually, measurements come to BCO-DMO as ASCII or spreadsheet files. However, we try to be flexible and are willing to work with whatever reasonably organized format the investigator uses. We have some suggestions for what formats are easier to work with, but these are only suggestions, not requirements.</p>
            <h4 class="title is-4">Does BCO-DMO have any guidelines for submitting data as a spreadsheet?</h4>
            <p>Yes, we do. Please review <a>Submitting Data in a Spreadsheet</a> for guidelines.</p>
            <h4 class="title is-4"> My data are online already. Do I need to send my data to BCO-DMO too?</h4>
            <p>BCO-DMO does not want to duplicate the effort of other data assembly centers (DAC), so if the data are accessible from a recognized DAC (like the LTER network office) and the DAC or the scientist takes responsibility to ensure the data are properly archived at a recognized national archive, we believe the NSF guidelines/requirements are met. However, providing access via a project- or program-specific website is not likely to be sufficient because these types of websites usually do not have the funding to provide the longer term data and metadata access implied by the requirements.</p>
            <p>It is important that the data be managed in such a way that they are discoverable and reusable by others. This means that there is sufficient metadata to support proper data reuse and that the actual data, not just resulting graphs, are accessible. Although your data may already be online, there may still be value in having BCO-DMO involved if the dataset is of interest to scientists using BCO-DMO and there is benefit in having these data accessible directly from BCO-DMO.</p>
            <h4 class="title is-4">Must data contributors send their data to BCO-DMO to have them accessible?</h4>
            <p><strong>No.</strong> BCO-DMO uses a distributed data management system called JGOFS/GLOBEC that supports distributed data servers. As long as your data can be placed on a Linux or Unix based machine that has a web site, your data can remain on your machine. The approach has the advantage of always serving the most up to date and accurate version of the data.</p>
            <h4 class="title is-4">How can I submit large data files to BCO-DMO?</h4>
            <p>For large volumes of data we suggest using Dropbox. Please see https://www.dropbox.com/.  If you don't have your own Dropbox account, a BCO-DMO Data Manager will set up a folder for you and send you a URL that will allow you to upload your data into our Dropbox using your browser. Another option is to make the files available online (ftp, Google Drive, etc.) and let us know how to get them.  If you still have questions, please contact us for alternative approaches.</p>
            <h4 class="title is-4">How much metadata is necessary?</h4>
            <p>The information contained in the metadata should be sufficient to allow another researcher to make use of your data, and, in a sense, to be able to recreate it. For example, it should include the sources of your data (names of the instruments or software model(s) used), how you processed these data, and how they were analyzed. If you have this information contained in a paper, you can duplicate it for the metadata. By all means, include the reference to this paper too in your metadata. Names of the field names (columns) and their units should be described completely.</p>
            <h4 class="title is-4">Can my project get free help from BCO-DMO to manage my data?</h4>
            <p>BCO-DMO is funded to work with researchers funded by the NSF Geosciences Directorate's Division of Ocean Sciences' Biological and Chemical Oceanography Sections and the Division of Polar Programs' Antarctic Organisms & Ecosystems Program. We have some latitude in working with researchers outside of these sections and would be happy to learn more about your project to see if BCO-DMO should be involved.</p>
        </div>
    </div>
</section>

<section class="accordion-section" id="data-management">
    <div class="accordion-title"><a href="#data-management">Data Management <i class="fa fa-chevron-down"></i></a></div>
    <div class="accordion-body">
        <div class="content">
            <h4 class="title is-4">What are the Data Management Best Practices?</h4>
            <p>The Data Management Guidelines Manual below is a collection of best practice recommendations for collecting and sharing biogeochemical and ecological oceanographic data and metadata.</p>
            <p><a class="button">Data Management Guidelines Manual  <i class="fa fa-file-pdf-o margin-left-1" style="color:red;"></i></a></p>

            <p>The purpose of this document is to provide ocean scientists with a description of "best practices" designed to enable projects to quickly and efficiently make their data publicly available through the auspices of the Biological and Chemical Oceanography Data Management Office. This office was created to serve Principal Investigators (PIs) and other investigators funded by the National Science Foundation’s (NSF) Biological and Chemical Oceanography Sections as a facility where marine biogeochemical and ecological data and information developed in the course of scientific research can easily be disseminated, protected, and stored for short and intermediate time frames.</p>
        

            <h4 class="title is-4">Who should I call at BCO-DMO for Data Management Help?</h4>
            <a href="mailto:info@bco-dmo.org" class="button">Info@bco-dmo.org</a>
        </div>
    </div>
</section>

</section>