  <div class="has-text-right">
  <a href="#top" class="button is-text"><i class="fa fa-arrow-up margin-right-1"></i> TOP</a>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h4>Access Data</h4>
          <ul>
            <li><a>Dataset Search</a></li>
            <li><a>Browse all Data</a></li>
            <li><a>Access Data Help</a></li>
            <li><a>BCO-DMO API</a></li>
          </ul>
        </div>
        <div class="column">
          <h4>Submit Data</h4>
          <ul>
            <li><a href="submit-data.html">Submit Data</a></li>
            <li><a>Register your Project</a></li>
            <li><a>Metadata Forms</a></li>
            <li><a>Data Management Forms</a></li>
            <li><a>NSF Investigators</a></li>
            <li><a>GBMF Investigators</a></li>
          </ul>
        </div>
        <div class="column">
          <h4>About Us</h4>
          <ul>
            <li><a href="about.html">About BCO-DMO</a></li>
            <li><a href="team.html">Meet the Team</a></li>
            <li><a>Contact Us</a></li>
            <li><a>Media</a></li>
          </ul>
        </div>
        <div class="column">
          <h4>Resources</h4>
          <ul>
            <li><a>Education & Training</a></li>
            <li><a>FAQs</a></li>
            <li><a>Documentation</a></li>
            <li><a>Data Models</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>
  <div class="footer-bar">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img src="assets/img/NSF-White.png" style="width:60px;" />
            <span>©2020 Biological and Chemical Oceanography Data Management Office.<br/>
Funded by the U.S. National Science Foundation</span>
          </div>
        </div>
      </div>
  </div>