<!-- Reusable GridButtons Macro / Component -->
{% macro gridButton(label, icon, count) %}
    <button onclick="openSearchCategory('{{label}}')" class="grid-button is-primary">
        <label>{{count}}</label>
        <i class="fa fa-{{icon}}"></i>
        <h4>{{label}}</h4>
    </button>
{% endmacro %}

<!--  Grid Buttons Component -->
<section class="padding-bot-5">
    <div class="container">
        <h1 class="title is-5 is-primary">Browse Catalog</h1>
        <div class="grid-buttons">
            {{ gridButton("Datasets", "database", "9,485") }}
            {{ gridButton("Deployments", "ship", "2,921") }}
            {{ gridButton("Projects", "folder-open", "1,110") }}
            {{ gridButton("Programs", "clipboard", "44") }}
            {{ gridButton("Instruments", "cogs", "490") }}
            {{ gridButton("People", "users", "2,781") }}
            {{ gridButton("Parameters", "sliders", "1,420") }}
            {{ gridButton("Awards", "thermometer-2", "2,087") }}
    </div>
</section>