{% extends "layout.html" %}

{% set title = 'BCO-DMO - Award OCE-1131657' %}
{% set page = 'Award' %}

{% from "macros/breadcrumbs.html" import breadcrumb %}

{% block content %}
  
    <main>
      {{ breadcrumb(
        "Award: OCE-1131657",
        [{ "label": "Award Search", "link": "dataset-search.html" }]) 
      }}
      
        <section class="margin-bot-3 margin-top-1">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds">
                        <h1 class="title is-spaced">Award: OCE-1131657</h1>
                        <h4 class="subtitle is-4">Collaborative Research: Iron Regulation of the Food Quality of Phytoplankton in Acidified Eastern Boundary Upwelling Systems</h2>
                        <h2 class="subtitle">Funding by <a>NSF Division of Ocean Sciences (NSF OCE)</a></h2>
                        <div class="tags">  
                            <span class="tag"><i class="fa fa-calendar margin-right-1"></i> <strong>Oct. 27 2019  -  Dec. 31 2022</strong></span>
                            <span class="tag is-success is-light"><i class="fa fa-check margin-right-1"></i> Data Submitted</span>
                        </div>
                   
                    <hr>
                    <h4 class="title is-4">People</h4>
                    <p><strong>Program Manager:  </strong> <a>Henrietta N Edmonds</a></p>
                    <p><strong>Principal Investigator:</strong> <a>William P. Cochlan</a> (San Francisco State University)</p>

                    <hr>
                    
                        <!-- Remaining Details -->
                        <h4 class="title is-4">Projects funded by this award</h4>
                        
                        <div class="content">
                            <ul>
                                <li><a>Collaborative Research: Iron Regulation of the Food Quality of Phytoplankton In Acidified Eastern Boundary Upwelling Systems</a></li>
                            </ul>
                        </div>
 
                    </div>

                    <!-- Right hand column -->
                    <div class="column">
                        <p class="margin-bot-1"><a class="button" href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1131657" target="_blank">
                                NSF Award Page <i class="fa fa-external-link margin-left-1"></i>
                            </a>
                        </p>
                        <p><a class="button" href="https://www.research.gov/research-portal/appmanager/base/desktop?_nfpb=true&_windowLabel=EventDispatcher&_urlType=action&wlpEventDispatcher_action=viewAwardDetailEvent_rsr&wlpEventDispatcher_fedAwrdId=1131657" target="_blank">
                                NSF Research Results Report <i class="fa fa-external-link margin-left-1"></i>
                            </a>
                        </p>

                        <hr>
                        <h4 class="title is-4">Related Awards</h4>
                        <div class="content is-condensed">
                            <div class="card result-card">
                                <div class="card-content">
                                    <div class="content">
                                        <a class="title">OCE-1130748</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card result-card">
                                <div class="card-content">
                                    <div class="content">
                                        <a class="title">OCE-1131692</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="title is-4">Related Datasets</h4>
                        <div class="content is-condensed">
                            <div class="card result-card">
                                <div class="card-content">
                                    <div class="content">
                                        <a class="title is-small">Southern Ocean 2001 moorings: current data from ARSV Laurence M. Gould LMG0103, LMG0201A in the Southern Ocean from 2001-2002 (SOGLOBEC project)</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card result-card">
                                <div class="card-content">
                                    <div class="content">
                                        <a class="title is-small">Southern Ocean 2001 moorings: depth and pressure vs. time from ARSV Laurence M. Gould LMG0103, LMG0201A in the Southern Ocean from 2001-2002 (SOGLOBEC project)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </main>
    <!-- Questions/Contact Us Callout Section -->
    <section class="padded-section bg-color-primary has-text-centered">
        <img src="assets/img/questions-icon.svg" />
        <h1 class="is-1">Still have questions?</h1>
        <div class="buttons margin-top-3">
            <a href="#" class="button is-primary">CONTACT US</a>
            <a href="#" class="button">Read FAQ's</a>
        </div>
    </section>
{% endblock content %}

{% set footer = true %}