{% extends "layout.html" %}

{% set title = 'BCO-DMO Frequently Asked Questions (FAQ)' %}
{% set page = 'FAQ' %}


{% block content %}
  
    <main>
        <!-- Breadcrumbs -->
        <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul class="container">
            <li><a href="index.html" aria-current="page">Home</a></li>
            <li class="is-active"><a aria-current="page">Frequently Asked Questions (FAQ)</a></li>
        </ul>
        </nav>

        <div class="container">
        <h1 class="title is-1">Frequently Asked Questions (FAQ)</h1>
        {% include 'partials/accordion.html' %}
        </div>
       
    </main>
    <!-- Questions/Contact Us Callout Section -->
    <section class="padded-section bg-color-primary has-text-centered">
        <img src="assets/img/questions-icon.svg" />
        <h1 class="is-1">Still have questions?</h1>
        <div class="buttons margin-top-3">
            <a href="#" class="button is-primary">CONTACT US</a>
            <a href="#" class="button">Read FAQ's</a>
        </div>
    </section>
{% endblock content %}

{% block js %}

{% endblock %}

{% set footer = true %}