{% extends "layout.html" %}

{% set title = 'BCO-DMO - Meet the Team' %}
{% set page = 'Team' %}


{% block content %}
  
    <main>
        <!-- Breadcrumbs -->
        <nav class="breadcrumb margin-bot-0" aria-label="breadcrumbs">
        <ul class="container">
            <li><a href="index.html" aria-current="page">Home</a></li>
            <li class="is-active"><a aria-current="page">Meet the Team</a></li>
        </ul>
        </nav>

        <section class="hero is-primary" >
        <div class="hero-body">
          <div class="container narrow-container has-text-centered">
            <h1 class="title is-1">
              Meet the Team
            </h1>
          </div>
        </div>
        </section>

       <section class="padded-section">
       <div class="container">
       <h3 class="title is-primary is-3">Principal Investigators</h3>
       <div class="columns">
        <div class="column">
                <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3 image-fit">
                                <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/mak-saito.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">Mak Saito</p>
                            <p class="subtitle is-6"><strong>Lead PI</strong></p>
                            <p>Marine Chemistry and Geochemistry Department, WHOI</p>
                        </div>
                </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/peter-wiebe.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Peter Wiebe</p>
                    <p class="subtitle is-6"><strong>Co-PI</strong></p>
                    <p>Biology Department, WHOI</p>
                </div>
            </div>
        </div>
       <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3 image-fit">
                    <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/danie-kinkade.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <p class="title is-4">Danie Kinkade</p>
                <p class="subtitle is-6"><strong>Co-PI, Director</strong></p>
                <p>Biology Department, WHOI</p>
                <footer>
                    <p><a href="tel:1-508-289-2291"><i class="fa fa-phone margin-right-1"></i> 1-508-289-2291</a></p>
                    <p><a href="mailto:dkinkade@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> dkinkade@whoi.edu</a></p>
                </footer>
                
            </div>
        </div>
       </div>
       <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/adam-shepherd.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Adam Shepherd</p>
                    <p class="subtitle is-6"><strong>Co-PI, Technical Director</strong></p>
                    <p>Marine Chemistry and Geochemistry Department, WHOI</p>
                    <footer>
                        <p><a href="tel:1-508-289-2772"><i class="fa fa-phone margin-right-1"></i> 1-508-289-2772</a></p>
                        <p><a href="mailto:ashepherd@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> ashepherd@whoi.edu</a></p>
                    </footer>

                </div>
            </div>
        </div>
       </div> 
       <h3 class="title is-primary is-3">Data Managers</h3>
       <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/matt-biddle.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Matt Biddle</p>
                    <p>Marine Chemistry and Geochemistry Department, WHOI</p>
                    <footer>
                        <p><a href="tel:1-508-289-3438"><i class="fa fa-phone margin-right-1"></i> 1-508-289-3438</a></p>
                        <p><a href="mailto:mbiddle@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> mbiddle@whoi.edu</a></p>
                    </footer>

                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/nancy-copley.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Nancy Copley</p>
                    <p>Biology Department, WHOI</p>
                    <footer>
                        <p><a href="tel:1-508-289-3204"><i class="fa fa-phone margin-right-1"></i> 1-508-289-3204</a></p>
                        <p><a href="mailto:ncopley@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> ncopley@whoi.edu</a></p>
                    </footer>

                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/shannon-rauch.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Shannon Rauch</p>
                    <p>Biology Department, WHOI</p>
                    <footer>
                        <p><a href="tel:1-508-289-2817"><i class="fa fa-phone margin-right-1"></i> 1-508-289-2817</a></p>
                        <p><a href="mailto:srauch@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> srauch@whoi.edu</a></p>
                    </footer>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/amber-york.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Amber York</p>
                    <p>Biology Department, WHOI</p>
                    <footer>
                        <p><a href="tel:1-508-289-3977"><i class="fa fa-phone margin-right-1"></i> 1-508-289-3977</a></p>
                        <p><a href="mailto:adyork@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> adyork@whoi.edu</a></p>
                    </footer>
                </div>
            </div>
        </div>

        
       </div>
       <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/karen-soenen.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Karen Soenen</p>
                    <p>Biology Department, WHOI</p>
                    <footer>
                        <p><a href="mailto:ksoenen@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> ksoenen@whoi.edu</a></p>
                    </footer>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3 image-fit">
                        <img src="https://www.bco-dmo.org/files/bcodmo/images/headshots/tina-haskins.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">Tina Haskins
                    </p>
                    <p>Biology Department, WHOI</p>
                    <footer>
                        <p><a href="mailto:chaskins@whoi.edu"><i class="fa fa-envelope margin-right-1"></i> chaskins@whoi.edu</a></p>
                    </footer>
                </div>
            </div>
        </div>
       </div>
       </div>
       </section>
    </main>
    
    {% include 'components/contact-callout.html' %}

{% endblock content %}

{% block js %}

{% endblock %}

{% set footer = true %}