{% macro breadcrumb(currentPage, previousPages) %}
<!-- Breadcrumbs -->
<nav class="breadcrumb margin-bot-0" aria-label="breadcrumbs">
    <ul class="container">
        <li><a href="index.html" aria-current="page">Home</a></li>
        <!-- Loop through any previous pages -->
        {% for item in previousPages %}
            <li><a href="{{item.link}}">{{item.label}}</a></li>
        {% endfor %}
        <li class="is-active"><a aria-current="page">{{currentPage}}</a></li>
    </ul>
</nav>
{% endmacro %}