<div class="dataset-search-facets demo-datasets">
    <!-- Demo Facets -->
    <button class="button is-light search-facet">
    <span>Geo Name</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <!-- Single Dropdown Menu Item for Facets-->
    <div class="dropdown search-facet" id="parameter-dropdown">
    <div class="dropdown-trigger">
        <button class="button is-light" aria-haspopup="true" aria-controls="parameter-menu">
        <span class="facet-label">Parameter</span>
        <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
    </div>
    <div class="dropdown-menu" id="parameter-menu" role="menu">
        <div class="dropdown-content">

        <div class="field dropdown-item">
            <div class="control has-icons-left has-appended-button">
            <input type="text" placeholder="Search Parameters" class="input is-transparent" facet-search>
            <span class="icon is-left">
                <i class="fa fa-search"></i>
            </span>
            <a class="is-small appended-button"><i class="fa fa-sort-alpha-asc"></i></a>
            </div>
        </div>
        <hr class="dropdown-divider">
        <div class="dropdown-item facet-search-item" facet-value="chlorophyll (concentration)">
            <label class="checkbox">Chlorophyll (concentration)<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="depth">
            <label class="checkbox">Depth<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="dissolved organic carbon">
            <label class="checkbox">Dissolved Organic Carbon<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="pO4">
            <label class="checkbox">PO4<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="pressure">
            <label class="checkbox">Pressure<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="salinity">
            <label class="checkbox">Salinity<input type="checkbox"><span class="checkmark"></span></label>
        </div>               
        <div class="dropdown-item facet-search-item" facet-value="temperature">
            <label class="checkbox">Temperature<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        </div>
    </div>

    </div>

    <!-- Placeholder Buttons for Demo Facets -->
    <button class="button is-light search-facet">
    <span>Instrument</span>
    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
    <span>Date</span>
    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
    <span>Person</span>
    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <!-- Single Dropdown Menu Item for Facets-->
    <div class="dropdown search-facet" id="project-dropdown">
    <div class="dropdown-trigger">
        <button class="button is-light" aria-haspopup="true" aria-controls="project-menu">
        <span class="facet-label">Project</span>
        <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
    </div>
    <div class="dropdown-menu" id="project-menu" role="menu">
        <div class="dropdown-content">

        <div class="field dropdown-item">
            <div class="control has-icons-left has-appended-button">
            <input type="text" placeholder="Search Projects" class="input is-transparent" facet-search>
            <span class="icon is-left">
                <i class="fa fa-search"></i>
            </span>
            <a class="is-small appended-button"><i class="fa fa-sort-alpha-asc"></i></a>
            </div>
        </div>
        <hr class="dropdown-divider">
        <div class="dropdown-item facet-search-item" facet-value="coralcalcifyfluid_pH">
            <label class="checkbox">CoralCalcifyFluid_pH<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="gulf stream pamlico sound">
            <label class="checkbox">Gulf Stream Pamlico Sound<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="in situ cal O2 sensors">
            <label class="checkbox">In Situ Cal O2 Sensors<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="inhalant flows">
            <label class="checkbox">Inhalant flows<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="lost city-type hydrothermal system">
            <label class="checkbox">Lost City-type hydrothermal system<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="nd paleocirculation proxy">
            <label class="checkbox">Nd Paleocirculation Proxy<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="ridge metabolism 3d mapping">
            <label class="checkbox">Ridge Metabolism 3D Mapping<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="saltmarshsustain">
            <label class="checkbox">SaltMarshSustain<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        </div>
    </div>
    </div>
    <!-- Single Dropdown Menu Item for Facets-->
    <div class="dropdown search-facet" id="publication-dropdown">
    <div class="dropdown-trigger">
        <button class="button is-light" aria-haspopup="true" aria-controls="publication-menu">
        <span class="facet-label">Publication</span>
        <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
    </div>
    <div class="dropdown-menu" id="publication-menu" role="menu">
        <div class="dropdown-content">
        <div class="field dropdown-item">
            <div class="control has-icons-left has-appended-button">
                <input type="text" placeholder="e.g. 12.1234/j.doe.2019" class="input is-transparent" facet-search>
                <span class="icon is-left">
                <i class="fa fa-search"></i>
                </span>
                <a class="is-small appended-button"><i class="fa fa-sort-alpha-asc"></i></a>
            </div>
        </div>
        <hr class="dropdown-divider">
        <div class="dropdown-item facet-search-item" facet-value="10.1016/j.marchem.2015.12.003">
            <label class="checkbox">10.1016/j.marchem.2015.12.003<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="0.4319/lom.2014.12.563">
            <label class="checkbox">0.4319/lom.2014.12.563<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="10.1016/j.cageo.2007.01.005">
            <label class="checkbox">10.1016/j.cageo.2007.01.005<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="10.4319/lo.1992.37.5.1113">
            <label class="checkbox">10.4319/lo.1992.37.5.1113<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="10.1016/S0003-2670(00)88444-5">
            <label class="checkbox">10.1016/S0003-2670(00)88444-5<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        <div class="dropdown-item facet-search-item" facet-value="10.4319/lom.2014.12.563">
            <label class="checkbox">10.4319/lom.2014.12.563<input type="checkbox"><span class="checkmark"></span></label>
        </div>
        </div>
    </div>
    </div>
    <button class="button is-white show-all-button" id="showAllFacets"><i class="fa fa-ellipsis-v margin-right-1"></i> More</button>
</div>

<!-- This div is just mean to be shown when switching to 'People' for demo purposes -->
<div class="dataset-search-facets demo-people is-hidden">
    <button class="button is-light search-facet">
    <span>Project</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
        <span>Deployments</span>
        <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
        <span>Author</span>
        <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
    <span>ORCID</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
</div>

<!-- This div is just mean to be shown when switching to 'People' for demo purposes -->
<div class="dataset-search-facets demo-awards is-hidden">
    <button class="button is-light search-facet">
    <span>Funding</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
        <span>Projects</span>
        <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
        <span>Datasets</span>
        <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
    <button class="button is-light search-facet">
    <span>Data Submitted</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
</div>

<!-- This div is just mean to be shown when switching to 'All' for demo purposes -->
<div class="dataset-search-facets demo-all is-hidden">
<button class="button is-light search-facet">
    <span>Affiliation</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
</button>
<button class="button is-light search-facet">
    <span>Role</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
<button class="button is-light search-facet">
    <span>Deployments</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </button>
<button class="button is-light search-facet">
    <span>ORCID</span>
    <span class="icon "><i class="fa fa-angle-down" aria-hidden="true"></i></span>
</button>
</div>


<!-- Active Facets / Tags & Result Count -->
<div class="columns is-vcentered dataset-search-facets-result">
    <div class="column demo-datasets">
        <div class="field is-grouped is-grouped-multiline">
        <div class="control is-hidden" id="demo-tag">
            <div class="tags has-addons">
            <a class="tag is-link">CoralCalcifyFluid_pH</a>
            <a class="tag is-delete"></a>
            </div>
        </div>
        </div>
        <h5 class="title is-4">1,234 Results</h5>
    </div>
    <div class="column demo-people is-hidden">
        <h5 class="title is-4">204 Results</h5>
    </div>
    <div class="column demo-awards is-hidden">
        <h5 class="title is-4">123 Results</h5>
    </div>
    <div class="column demo-all is-hidden">
        <h5 class="title is-4">984 Results</h5>
    </div>

    <div class="column has-text-right">
        <div class="field is-grouped is-right">
            <button class="button is-small has-icons-right">
                <span><span class="color-gray margin-right-1">Sort:</span> <strong>Relevance</strong></span> 
                <span class="icon"><i class="fa fa-caret-down"></i></span>
            </button>
        </div>
        
    </div>
</div>

<!-- Tabs - Only shown when 'All' is selected -->
<div class="tabs margin-top-1 demo-all is-hidden">
<ul>
    <li class="is-active"><a>Datasets</a></li>
    <li><a>Deployments</a></li>
    <li><a>Projects</a></li>
    <li><a>Programs</a></li>
    <li><a>Instruments</a></li>
    <li><a>People</a></li>
    <li><a>Parameters</a></li>
    <li><a>Awards</a></li>
</ul>
</div>