<!-- Search bar used in dataset search and potentially condensed version on home page -->
<div class="control has-icons-right has-dropdown-left">
    <input class="input" type="email" placeholder="Search Keywords, Authors, DOI, ORCID..." />
    <div class="is-left">
        <div class="select">
        <select name="search-category" id="search-category">
            <option>All</option>
            <option>Datasets</option>
            <option>Deployments</option>
            <option>Projects</option>
            <option>Programs</option>
            <option>Instruments</option>
            <option>People</option>
            <option>Parameters</option>
            <option>Awards</option>
        </select>
        </div>
    </div>

    <span class="icon is-small is-right">
        <i class="fa fa-search"></i>
    </span>
</div>