<!-- Demo Map -->
        <div class="data-map-wrap">
            <map id="map" class="data-map"></map>
            <!-- Demo Map buttons/controls -->
            <div class="map-buttons map-buttons-top">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <a class="button" aria-haspopup="true" aria-controls="dropdown-menu4"><i class="fa fa-cog"></i></a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item"><h5 class="has-text-weight-bold">Map Settings</h5></div>
                    <div class="dropdown-item">
                      <label class="checkbox">
                        Update search results as I move map
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <hr class="dropdown-divider"/>
                    <div class="dropdown-item">
                      <label class="checkbox">
                        Some other map option here
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <a id="hide-map" class="button"><i class="fa fa-close"></i></a>
            </div>
            <!-- Placeholder Bottom Map Controls (ie. Zoom, bounding box, etc.)-->
            <div class="map-buttons map-buttons-bottom">
              <a class="button"><i class="fa fa-square"></i></a>
              <a class="button margin-bot-1"><i class="fa fa-map-marker"></i></a>
            </div>
        </div>