<!-- Colors -->
<section class="padding-bot-5" id="colors">
<h3 class="title is-3">Color</h3>
<div class="columns">
  <div class="column">
    <div class="box demo-colors-box bg-color-primary">
      <strong>Primary</strong>
      <label>#4CA6B8</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-primary</code> , <code>.bg-color-primary</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-primary-light">
      <strong>Primary Light</strong>
      <label>#EFFBFF</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-primary-light</code> , <code>.bg-color-primary-light</code></figure>
  </div>
</div>

<div class="columns margin-top-1">
  <div class="column">
    <div class="box demo-colors-box bg-color-accent">
      <strong>Accent</strong>
      <label>#0E2D40</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-accent</code> , <code>.bg-color-accent</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-accent-med">
      <strong>Accent Medium</strong>
      <label>#486B80</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-accent-med</code> , <code>.bg-color-accent-med</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-accent-light">
      <strong>Accent Light</strong>
      <label>#96BBD1</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-accent-light</code> , <code>.bg-color-accent-light</code></figure>
  </div>
</div>

<div class="columns margin-top-1">
  <div class="column">
    <div class="box demo-colors-box bg-color-dark-gray">
      <strong>Dark Gray</strong>
      <label>#444444</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-dark-gray</code> , <code>.bg-color-dark-gray</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-gray">
      <strong>Gray</strong>
      <label>#8B9DA9</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-gray</code> , <code>.bg-color-gray</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-light-gray">
      <strong>Light Gray</strong>
      <label>#E4E4E5</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-light-gray</code> , <code>.bg-color-light-gray</code></figure>
  </div>
  <div class="column">
    <div class="box demo-colors-box bg-color-lightest-gray">
      <strong>Lightest Gray</strong>
      <label>#F8F8F8</label>
    </div>
    <figure class="code-snippet is-hidden"><code>.color-lightest-gray</code> , <code>.bg-color-lightest-gray</code></figure>
  </div>
</div>
</section>