<!-- Layout -->
<section class="padding-bot-5" id="layout">
<h3 class="title is-3">Layout</h3>
<p>For complete documentation, reference the <a href="https://bulma.io/documentation/layout/" target="_blank">Bulma Layout Docs</a>.</p>
                  
<h4 class="is-4 subtitle margin-top-3">Container</h4>
<p>The <code>.container</code> element is used to create a consistent wrapper around content </p>
<div class="row">
  
</div>
<h4 class="is-4 subtitle margin-top-3">Grid</h4>
<p>If you need to horizontally divide content within a <code>.container</code> or any other section, you'll want to do so using <a href="https://bulma.io/documentation/columns/basics/" target="_blank">columns</a>. They will grow/shrink in size the more you add, and they are <a href="https://bulma.io/documentation/columns/responsive/" target="_blank">responsive</a> and will collapse at specific breakpoints.</p>

<div class="columns margin-top-1 has-text-centered">
  <div class="column"><code class="bg-color-primary">.column</code></div>
  <div class="column"><code class="bg-color-primary">.column</code></div>
  <div class="column"><code class="bg-color-primary">.column</code></div>
</div>

<figure class="code-snippet is-hidden">
<xmp><div class="columns">
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
</div>
</xmp>
</figure>

<p class="margin-top-3">In addition to standard <code>.column</code> class, you can add specific widths based on a 12 column grid, or use a combination of the two like below.</p>
    
<section class="margin-top-1 has-text-centered demo-columns">
    <div class="columns">
        <div class="column is-full"><code class="bg-color-primary">.is-full</code></div>
    </div>
    <div class="columns">
        <div class="column is-four-fifths"><code class="bg-color-primary">.is-four-fifths</code></div>
        <div class="column"><code class="bg-color-grey">.column</code></div>
        <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-three-quarters"><code class="bg-color-primary">.is-three-quarters</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-two-thirds"><code class="bg-color-primary">.is-two-thirds</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-three-fifths"><code class="bg-color-primary">.is-three-fifths</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-half"><code class="bg-color-primary">.is-half</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-two-fifths"><code class="bg-color-primary">.is-two-fifths</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-one-third"><code class="bg-color-primary">.is-one-third</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-one-quarter"><code class="bg-color-primary">.is-one-quarter</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>

    <div class="columns">
    <div class="column is-one-fifth"><code class="bg-color-primary">.is-one-fifth</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    <div class="column"><code class="bg-color-grey">.column</code></div>
    </div>
</section>