<aside class="menu sticky-menu">
    <p class="menu-label">
    Style Guide
    </p>
    <ul class="menu-list margin-bot-3">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#colors">Colors</a></li>
        <li><a href="#typography">Typography</a></li>
        <li><a href="#logo">Logo & Icons</a></li>
    </ul>
    <p class="menu-label">
    Components
    </p>
    <ul class="menu-list">
    <li><a href="#layout">Layout</a></li>
    <li><a href="#hero">Hero</a></li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#tags">Tags</a></li>
    <li><a href="#alerts">Alerts</a></li>
    <li><a href="#forms">Forms</a></li>
    <li><a href="#navigation">Navigation</a></li>
    <li><a href="#cards">Cards</a></li>
    <li><a href="#table">Table</a></li>
    <li><a href="#footer">Footer</a></li>
    </ul>
    <hr>
    <a class="button is-fullwidth" id="show-code"><i class="fa fa-code margin-right-1"></i> Show Code</a>
</aside>