<!-- Logo & Icons -->
<section class="padding-bot-5" id="logo">
<h3 class="title is-3">Logo & Icons</h3>

<p class="margin-bot-3">In addition to the website look and feel, the BCO-DMO Logo is also getting a refresh. See below for how to best use it.</p>
<img src="assets/img/demo/Logo-Showcase.jpg" alt="New BCO-DMO Logo"/>
<hr>

<h4 class="title is-4">Icons</h4>

<p class="margin-bot-3">Icons used throughout the BCO-DMO site are font-based icons via <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">FontAwesome (v 4.7)</a>. Below are a few to show how to use them, but check out the <a href="https://fontawesome.com/v4.7.0/examples/" target="_blank">FontAwesome Docs</a> for more details and the entire library of icons.</p>

<i class="fa fa-home margin-right-1"></i>
<i class="fa fa-check-circle has-text-success margin-right-1"></i>
<button class="button">
    <span class="icon"><i class="fa fa-close has-text-danger"></i></span>
</button>

<figure class="code-snippet is-hidden">
<xmp><i class="fa fa-home"></i>
<i class="fa fa-check-circle has-text-success"></i>
<button class="button">
<span class="icon"><i class="fa fa-close has-text-danger"></i></span>
</button></xmp>
</figure>
</section>