<!-- Logo & Icons -->
<section class="padding-bot-5" id="logo">
<h3 class="title is-3">Logo & Icons</h3>

<p class="margin-bot-3">In addition to the website look and feel, the BCO-DMO Logo is also getting a refresh. See below for how to best use it.</p>

<div class="columns"><h5>Digital</h5></div>
<div class="columns">
    <div class="column bg-color-accent logo-showcase">
        <img src="assets/files/logo-files/digital/BCO-DMO-Logo_DarkBG_Gradient.png" alt="New BCO-DMO Logo"/>
    </div>
    <div class="column logo-showcase">
        <img src="assets/files/logo-files/digital/BCO-DMO-Logo_Gradient.png" alt="New BCO-DMO Logo"/>
    </div>  
</div>
<div class="columns"><h5>Print</h5></div>
<div class="columns">
    <div class="column bg-color-accent logo-showcase">
        <img src="assets/files/logo-files/digital/BCO-DMO-Logo_DarkBG_NoGradient.png" alt="New BCO-DMO Logo"/>
    </div>
    <div class="column logo-showcase">
        <img src="assets/files/logo-files/digital/BCO-DMO-Logo_NoGradient.png" alt="New BCO-DMO Logo"/>
    </div>
</div>

<h4 class="is-4 subtitle margin-top-3">Download Logo Assets</h4>
<div class="buttons margin-top-3">
    <a class="button is-primary" href="https://www.figma.com/file/ilTrHgWCB2uo92l5bFNM0j/BCO-DMO-Design-System?node-id=1049%3A0" alt="Download Figma Logo Files">
    <i class="fa fa-external-link margin-right-1"></i> 
    Logo Source Files (.fig)</a>
    <a class="button is-primary" href="assets/files/logo-files/print/BCO-DMO-Logo.ai" alt="Download Adobe Illustrator Logo Files">
    <i class="fa fa-download margin-right-1"></i> 
    Logo (.AI)</a>
    <a class="button is-primary" href="assets/files/logo-files/BCO-DMO-Logo.zip" alt="Download Figma Zip Files">
    <i class="fa fa-download margin-right-1"></i> 
    Logo Assets (.zip)</a>
</div>
<hr>

<h4 class="title is-4">Icons</h4>

<p class="margin-bot-3">Icons used throughout the BCO-DMO site are font-based icons via <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">FontAwesome (v 4.7)</a>. Below are a few to show how to use them, but check out the <a href="https://fontawesome.com/v4.7.0/examples/" target="_blank">FontAwesome Docs</a> for more details and the entire library of icons.</p>

<i class="fa fa-home margin-right-1"></i>
<i class="fa fa-check-circle has-text-success margin-right-1"></i>
<button class="button">
    <span class="icon"><i class="fa fa-close has-text-danger"></i></span>
</button>

<figure class="code-snippet is-hidden">
<xmp><i class="fa fa-home"></i>
<i class="fa fa-check-circle has-text-success"></i>
<button class="button">
<span class="icon"><i class="fa fa-close has-text-danger"></i></span>
</button></xmp>
</figure>
</section>