<!-- Overview -->
<section class="padding-bot-5" id="overview">
<h3 class="title is-3">Overview</h3>
<p class="margin-bot-1">This BCO-DMO website template uses the lightweight, open source CSS framework <a href="https://bulma.io/documentation/" target="_blank">Bulma</a> for baseline elements such as <a href="https://bulma.io/documentation/elements/button/" target="_blank">buttons</a>, <a href="https://bulma.io/documentation/form/" target="_blank">forms</a>, <a href="https://bulma.io/documentation/layout/" target="_blank">layout grid</a>, <a href="https://bulma.io/documentation/" target="_blank">and more</a>.</p>
<p>There's a few reasons why we currently use Bulma, but the biggest benefits are: </p>
<div class="content">
    <ol>
    <li>A well tested, mobile-first, <a href="https://bulma.io/documentation/overview/responsiveness/" target="_blank">responsive framework</a></li>
    <li><a href="https://bulma.io/documentation/customize/" target="_blank">Customizable</a> and Modular; our version of Bulma is custom to BCO-DMO</li>
    <li>A large library of standardized, but customized UI <a href="https://bulma.io/documentation/components/" target="_blank">components</a> and <a href="https://bulma.io/documentation/components/" target="_blank">elements</a></li>
    <li>...and it's all <a href="https://bulma.io/documentation/" target="_blank">well documented</a>!</li>
    </ol>
</div>
</section>