<!-- Colors -->
<section class="padding-bot-5" id="typography">
<h3 class="title is-3">Typography</h3>
<p>Also reference Bulma's <a href="https://bulma.io/documentation/elements/title/" target="_blank">Title and Subtitle</a> headings elements for more variations.</p>
<hr>
<h2 class="subtitle">Font Family: <a href="https://fonts.google.com/specimen/Lato" target="_blank">'Lato'</a> (Google Font) </h2>
<hr>
<h1 class="title is-1">Title Header 1</h1>
<h2 class="title is-2">Title Header 2</h2>
<h3 class="title is-3">Title Header 3 (default size)</h3>
<h4 class="title is-4">Title Header 4</h4>
<h5 class="title is-5">Title Header 5</h5>

<figure class="code-snippet is-hidden">
<xmp><h1 class="title is-1">Title Header 1</h1>
<h2 class="title is-2">Title Header 2</h2>
<h3 class="title is-3">Title Header 3 (default size)</h3>
<h4 class="title is-4">Title Header 4</h4>
<h5 class="title is-5">Title Header 5</h5></xmp>
</figure>
<hr>
<h1 class="subtitle is-1">Subtitle 1</h1>
<h2 class="subtitle is-2">Subtitle 2</h2>
<h3 class="subtitle is-3">Subtitle 3</h3>
<h4 class="subtitle is-4">Subtitle 4</h4>
<h5 class="subtitle is-5">Subtitle 5 (default size)</h5>

<figure class="code-snippet is-hidden">
<xmp><h1 class="subtitle is-1">Subtitle 1</h1>
<h2 class="subtitle is-2">Subtitle 2</h2>
<h3 class="subtitle is-3">Subtitle 3</h3>
<h4 class="subtitle is-4">Subtitle 4</h4>
<h5 class="subtitle is-5">Subtitle 5 (default size)</h5></xmp>
</figure>

<hr>
<h1 class="title is-1 is-primary">Primary Title Header 1</h1>

<figure class="code-snippet is-hidden">
<xmp><h1 class="title is-1 is-primary">Primary Title Header 1</h1></xmp>
</figure>
    <hr>
    <p>Body text size, 15px</p>
    <p><a>Text link</a></p>
    <hr>
    <h4 class="subtitle is-4 margin-top-3">Typography / Alignment Helpers</h4>
    <p><code>.has-text-centered</code>	Makes the text centered</p>
    <p><code>.has-text-justified</code>	Makes the text justified</p>
    <p><code>.has-text-left</code>	Makes the text aligned to the left</p>
    <p><code>.has-text-right</code>	Makes the text aligned to the right</p>
    <hr>
    <p><code>.is-capitalized</code>	Transforms the first character of each word to uppercase</p>
    <p><code>.is-lowercase	</code>	Transforms all characters to lowercase</p>
    <p><code>.is-uppercase</code>	Transforms all characters to uppercase</p>
    <p><code>.is-italic	</code> Transforms all characters to italic</p>
    
    <h4 class="subtitle is-4 margin-top-3">Margin/Padding Helper Classes</h4>
    <p class="margin-bot-3">These classes can be used to override or accompany built in styling where needed to properly space out an element or components. For example, this paragraph tag of text has <code>.margin-bot-3</code> to give some subtle, consistent spacing beneath it.</p>
    <table class="table is-fullwidth">
    <thead>
        <th>Top Margin</th>
        <th>Bottom Margin</th>
        <th>Left Margin</th>
        <th>Right Margin</th>
    </thead>
    <tr>
        <td>
        <p><code>.margin-top-0</code></p>
        <p><code>.margin-top-1</code></p>
        <p><code>.margin-top-3</code></p>
        <p><code>.margin-top-5</code></p>
        </td>
        <td>
        <p><code>.margin-bot-0</code></p>
        <p><code>.margin-bot-1</code></p>
        <p><code>.margin-bot-3</code></p>
        <p><code>.margin-bot-5</code></p>
        </td>
        <td>
        <p><code>.margin-left-0</code></p>
        <p><code>.margin-left-1</code></p>
        <p><code>.margin-left-3</code></p>
        <p><code>.margin-left-5</code></p>
        </td>
        <td>
        <p><code>.margin-right-0</code></p>
        <p><code>.margin-right-1</code></p>
        <p><code>.margin-right-3</code></p>
        <p><code>.margin-right-5</code></p>
        </td>
    </tr>
    </table>
    <table class="table is-fullwidth">
    <thead>
        <th>Top Padding</th>
        <th>Bottom Padding</th>
        <th>Left Padding</th>
        <th>Right Padding</th>
    </thead>
    <tr>
        <td>
        <p><code>.padding-top-0</code></p>
        <p><code>.padding-top-1</code></p>
        <p><code>.padding-top-3</code></p>
        <p><code>.padding-top-5</code></p>
        </td>
        <td>
        <p><code>.padding-bot-0</code></p>
        <p><code>.padding-bot-1</code></p>
        <p><code>.padding-bot-3</code></p>
        <p><code>.padding-bot-5</code></p>
        </td>
        <td>
        <p><code>.padding-left-0</code></p>
        <p><code>.padding-left-1</code></p>
        <p><code>.padding-left-3</code></p>
        <p><code>.padding-left-5</code></p>
        </td>
        <td>
        <p><code>.padding-right-0</code></p>
        <p><code>.padding-right-1</code></p>
        <p><code>.padding-right-3</code></p>
        <p><code>.padding-right-5</code></p>
        </td>
    </tr>
    </table>
</section>